html, body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', Verdana, Helvetica, sans-serif;
  color: #191919;
}

body {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  max-width: 800px;
}

.main {
  height: 100%;

  > * {
    margin: 0 auto;
  }

  #story {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.5;
    width: 90%;

    .title {
      width: 100%;
      text-align: center;
      font-family: 'Playfair Display', Georgia, serif;
      font-size: 1.5em;
      letter-spacing: 4px;

      .letter {
        display: inline-block;
      }
    }

    .content {
      position: relative;
      padding: 40px 0;

      > * {
        position: absolute;
      }

      p {
        opacity: 0;
        filter: alpha(opacity = 0);
        transform: translateX(10px);
      }
    }
  }
}

/*------------------------------------*\
    Controls
\*------------------------------------*/
$controlsHeight: 40px;
$controlsPaddingTop: 50px;
$controlsPaddingBottom: 30px;

#controlsWrapper {
  width: 100%;
  height: $controlsHeight;
  margin-top: 0 - ($controlsHeight + $controlsPaddingTop + $controlsPaddingBottom);
  padding: $controlsPaddingTop 0 $controlsPaddingBottom;

  #controls {
    display: none;
    text-align: center;

    button {
      margin-left: 14px;
      padding: 20px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-family: 'Muli', Verdana, Helvetica, sans-serif;
      font-size: 0.7em;
      background: none;
      color: #676767;

      &:hover {
        color: #242424;
      }
    }

    #slider {
      width: 100%;
      height: 0.02em;
      background: #E4E4E4;
      border-color: #EAEAEA #E4E4E4 #6DD0CB;
      border-width: 1px;

      span {
        width: 0.9em;
        height: 0.85em;
        top: -0.5em;
        margin-left: -0.45em;
        border-color: #D7D7D7;
        border-radius: 10px;
      }
    }
  }
}